@model MedicationEditViewModel
@{ 
    string imgSrc = "";
    string shapeDisp = "";

    switch (Model.Medication.Shape)
    {
        case "circle":
            imgSrc = "/img/shapes/circle.PNG";
            shapeDisp = "Circle";
            break;
        case "oval":
            imgSrc = "/img/shapes/oval.PNG";
            shapeDisp = "Oval";
            break;
        case "triangle":
            imgSrc = "/img/shapes/Triangle.PNG";
            shapeDisp = "Triangle";
            break;
        case "heart":
            imgSrc = "/img/shapes/heart.PNG";
            shapeDisp = "Heart";
            break;
        case "pentagon":
            imgSrc = "/img/shapes/pentagon.PNG";
            shapeDisp = "Pentagon";
            break;
        case "hexagon":
            imgSrc = "/img/shapes/hexagon.PNG";
            shapeDisp = "Hexagon";
            break;
        case "octagon":
            imgSrc = "/img/shapes/octagon.PNG";
            shapeDisp = "Octagon";
            break;
        case "rightTri":
            imgSrc = "/img/shapes/right_triangle.PNG";
            shapeDisp = "Right Triangle";
            break;
        case "sTri":
            imgSrc = "/img/shapes/sTriangle.PNG";
            shapeDisp = "Scalene Triangle";
            break;
        case "square":
            imgSrc = "/img/shapes/square.PNG";
            shapeDisp = "Square";
            break;
        case "rectangle":
            imgSrc = "/img/shapes/rectangle.PNG";
            shapeDisp = "Rectangle";
            break;
        case "parallelogram":
            imgSrc = "/img/shapes/parallelogram.PNG";
            shapeDisp = "Parallelogram";
            break;
        case "trapezuim":
            imgSrc = "/img/shapes/Trapezium.PNG";
            shapeDisp = "Trapezuim";
            break;
        case "rhombus":
            imgSrc = "/img/shapes/Rhombus.PNG";
            shapeDisp = "Rhombus";
            break;
        case "4star":
            imgSrc = "/img/shapes/4pointStar.PNG";
            shapeDisp = "4 Pointed Star";
            break;
        case "star":
            imgSrc = "/img/shapes/star.PNG";
            shapeDisp = "5 Pointed Star";
            break;
        case "6star":
            imgSrc = "/img/shapes/6pointStar.PNG";
            shapeDisp = "6 Pointed Star";
            break;
    }
}

<div>
    <div class="alert-danger text-left" asp-validation-summary="All"></div>
    <form enctype="multipart/form-data" asp-action="MedicationEdit" method="post">
        <input type="hidden" asp-for="Medication.Id" value="@Model.Medication.Id">
        <input type="submit" />
        <!--Current Caretaker-->
        <input type="hidden" value="@Model.Caretaker.Id" asp-for="Medication.CaretakerID" />
        <input type="hidden" value="@Model.Patient.PatientID" asp-for="Medication.PatientID" />
        <!-- Medication name field-->
        <div class="registerField">
            <input class="form-control" asp-for="Medication.MedicationName" placeholder="Medication Name" />
        </div>
        <!-- Medication condition field-->
        <div class="registerField">
            <input class="form-control" asp-for="Medication.Condition" placeholder="Condition" />
        </div>
        <!-- Unit field-->
        <div class="registerField">
            <table>
                <tr>
                    <td>
                        <input class="form-control" type="number" min="0" id="unit-numeric" onchange="unitModified()" placeholder="Unit" />
                    </td>
                    <td>
                        <select class="form-control" id="unit-unit" onchange="unitModified()">
                            <option value="g">g</option>
                            <option value="IU">IU</option>
                            <option value="mcg">mcg</option>
                            <option value="mcg/hr">mcg/hr</option>
                            <option value="mcg/ml">mcg/ml</option>
                            <option value="mEg">mEg</option>
                            <option value="mg">mg</option>
                            <option value="mg/cm2">mg/cm2</option>
                            <option value="mg/g">mg/g</option>
                            <option value="mg/ml">mg/ml</option>
                            <option value="ml">ml</option>
                            <option value="pct">%</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" asp-for="Medication.Unit" id="concated-unit" />
        </div>
        <!-- Quantity field-->
        <div class="registerField">
            <input class="form-control" asp-for="Medication.Quantity" min="0" placeholder="Quantity" />
        </div>

        <!-- Frequency field-->
        <div class="registerField">
            <select class="form-control mb-3" asp-for="Medication.Frequency">
                <option selected disabled>Frequency</option>
                <option value="Every Day">Every Day</option> <!--Hours Between = 24 hours-->
                <option value="Specific Days">Specific Days</option>
                <option value="Days Interval">Days Interval</option>
                <option value="Birth Control Cycle">Birth Control Cycle</option>
            </select>
        </div>

        <!-- First Dose Time field-->
        <div class="registerField">
            <label style="margin: 0;" asp-for="Medication.FirstDoseTime">First Dose Time</label><br />
            <div id="timepicker" class="timepicker">
                <input class="timepickinput" type="text" value="00:00 AM" asp-for="Medication.FirstDoseTime" readonly />
            </div>
        </div>

        <!-- HoursBetween field-->
        <div class="registerField">
            <input class="form-control" type="number" asp-for="Medication.HoursBetween" min="0" placeholder="HoursBetween" />
        </div>

        <!-- HoursBetween field-->
        <div class="registerField">
            <label style="margin: 0;">Select a shape as an identifier</label><br />

            <select class="form-control" id="shape-selector" asp-for="Medication.Shape" onChange="shapeSelectorChange()">
                <option value="@Model.Medication.Shape" selected>@shapeDisp</option>
                @{
                    if (Model.Patient.UnSelectedShapes.Count != 0)
                    {
                        foreach (Shape s in Model.Patient.UnSelectedShapes)
                        {
                            <option value="@s.ShapeName">@s.ShapeDisplay</option>
                        }

                    }
                }
            </select>
            <img id="shape-preview" src="@imgSrc" />
        </div>

        <!--Upload Pill Image field-->
        <div class="registerField">
            <label>Upload Medication</label> <br />
            <div style="padding: 10px 50px; border: solid black 2px; cursor:pointer;" class="btn btn-lg">
                <div class="image-upload">
                    <label for="file-upload" class="custom-file-upload">
                        <img class="upload-image-icon" src="~/img/upload-image-icon.png" alt="Upload Image Icon" />
                    </label>
                    <!--TODO: Fix editing bug of not detecting image change in MedicationEdit form-->
                    <input id="file-upload" type="file" name="medImage" onchange="loadFile(event)" style="display:none;" />
                </div>
            </div>
            <label>Uploaded image</label>
            <img id="med-img-output" width="300" style="object-fit:contain;" />
        </div>

        <input type="hidden" value="@Model.Medication.Shape" name="oldShape" />
    </form>
</div>

<script type="text/javascript">
    function unitModified() {
        var numericUnit = document.getElementById("unit-numeric").value;
        var unitType = document.getElementById("unit-unit").value;
        var concatedUnit = document.getElementById("concated-unit");

        concatedUnit.value = numericUnit + " " + unitType;
    }

    var loadFile = function (event) {
        var image = document.getElementById('med-img-output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

    function shapeSelectorChange() {
        var selectedShape = document.getElementById("shape-selector").value;
        var shapePreview = document.getElementById("shape-preview");

        switch (selectedShape) {
            case "circle":
                shapePreview.src = "/img/shapes/circle.PNG";
                break;
            case "oval":
                shapePreview.src = "/img/shapes/oval.PNG";
                break;
            case "triangle":
                shapePreview.src = "/img/shapes/Triangle.PNG";
                break;
            case "heart":
                shapePreview.src = "/img/shapes/Heart.PNG";
                break;
            case "pentagon":
                shapePreview.src = "/img/shapes/pentagon.PNG";
                break;
            case "hexagon":
                shapePreview.src = "/img/shapes/hexagon.PNG";
                break;
            case "octagon":
                shapePreview.src = "/img/shapes/octagon.PNG";
                break;
            case "rightTri":
                shapePreview.src = "/img/shapes/right_triangle.PNG";
                break;
            case "sTri":
                shapePreview.src = "/img/shapes/sTriangle.PNG";
                break;
            case "square":
                shapePreview.src = "/img/shapes/square.PNG";
                break;
            case "rectangle":
                shapePreview.src = "/img/shapes/rectangle.PNG";
                break;
            case "parallelogram":
                shapePreview.src = "/img/shapes/parallelogram.PNG";
                break;
            case "trapezuim":
                shapePreview.src = "/img/shapes/Trapezuim.PNG";
                break;
            case "rhombus":
                shapePreview.src = "/img/shapes/Rhombus.PNG";
                break;
            case "4star":
                shapePreview.src = "/img/shapes/4pointStar.PNG";
                break;
            case "star":
                shapePreview.src = "/img/shapes/star.PNG";
                break;
            case "6star":
                shapePreview.src = "/img/shapes/6pointStar.PNG";
                break;
        }
    }

@*    jQuery.('#file-upload').change(function () {
        var i = $(this).prev('label').clone();
        var file = $('#file-upload')[0].files[0].name;
        $(this).prev('label').text(file);
    });*@
</script>