@model MedicationListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Patient.FirstName's medications</h1>

<p>
    @Html.ActionLink("Add new medication", "MedicationForm")
</p>
@if (Model.Medications.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Medication Name
                </th>
                <th>
                    Unit
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Medications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "MedicationEdit", new { Id = item.Id }) |
                        @Html.ActionLink("Details", "MedicationDetails", new { Id = item.Id, patientID = Model.Patient.PatientID }) |
                        @Html.ActionLink("Delete", "MedicationDelete", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">There are no medications yet.</h2>
}
