@model IEnumerable<Medication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all kinds of medications</h1>

<p>
    <a asp-action="MedicationForm">Add new medication</a>
</p>
@if (Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Medication Name
                </th>
                <th>
                    Medication Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationType)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "MedicationEdit", new { medID = item.MedID }) |
                        @Html.ActionLink("Details", "MedicationDetails", new { medID = item.MedID }) |
                        @Html.ActionLink("Delete", "MedicationDelete", new { medID = item.MedID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">There are no medications yet.</h2>
}
