@model Medication

@{ ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.imageSrc = Model.Id + ".jpg";

    String ShapeSrc = "";

    switch (Model.Shape)
    {
        case "circle":
            ShapeSrc = "/img/shapes/circle.PNG";
            break;
        case "oval":
            ShapeSrc = "/img/shapes/oval.PNG";
            break;
        case "triangle":
            ShapeSrc = "/img/shapes/Triangle.PNG";
            break;
        case "heart":
            ShapeSrc = "/img/shapes/Heart.PNG";
            break;
        case "pentagon":
            ShapeSrc = "/img/shapes/pentagon.PNG";
            break;
        case "hexagon":
            ShapeSrc = "/img/shapes/hexagon.PNG";
            break;
        case "octagon":
            ShapeSrc = "/img/shapes/octagon.PNG";
            break;
        case "rightTri":
            ShapeSrc = "/img/shapes/right_triangle.PNG";
            break;
        case "sTri":
            ShapeSrc = "/img/shapes/sTriangle.PNG";
            break;
        case "square":
            ShapeSrc = "/img/shapes/square.PNG";
            break;
        case "rectangle":
            ShapeSrc = "/img/shapes/rectangle.PNG";
            break;
        case "parallelogram":
            ShapeSrc = "/img/shapes/parallelogram.PNG";
            break;
        case "trapezuim":
            ShapeSrc = "/img/shapes/Trapezuim.PNG";
            break;
        case "rhombus":
            ShapeSrc = "/img/shapes/Rhombus.PNG";
            break;
        case "4star":
            ShapeSrc = "/img/shapes/4pointStar.PNG";
            break;
        case "star":
            ShapeSrc = "/img/shapes/star.PNG";
            break;
        case "6star":
            ShapeSrc = "/img/shapes/6pointStar.PNG";
            break;
    }
}


<script>
    function ImagetoPrint(source) {
        var returnStr = "<html><head><script>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt></head><body onload='step1()'>\n";

        for (let i = 0; i < source.length; i++) {
            returnStr += "<img src='" + source[i] + "' width='50px'/>"
        }

        returnStr += "</body></html>";

        return returnStr;

@*        return "<html><head><script>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt></head><body onload='step1()'>\n" +
            "<img src='" + source + "' /></body></html>";*@
    }

    function PrintAssets() {
        var images = [ 'https://api.qrserver.com/v1/create-qr-code/?data=@Model.Id', '@ShapeSrc' ];
        Pagelink = "about:blank";
        var pwa = window.open(Pagelink, "_new");
        pwa.document.open();
        pwa.document.write(ImagetoPrint(images));
        pwa.document.close();
    }
</script>

<div>
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Medication Name
        </dt>
        <dd class="col-sm-10">
            @Model.MedicationName
        </dd>
        <dt class="col-sm-2">
            Method of Taking
        </dt>
        <dd class="col-sm-10">
            @Model.MethodOfTaking
        </dd>
        <dt class="col-sm-2">
            Medication Type
        </dt>
        <dd class="col-sm-10">
            @Model.MedicationType
        </dd>
        <dt class="col-sm-2">
            Quantity
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
        <dt class="col-sm-2">
            Time Of Taking
        </dt>
        <dd class="col-sm-10">
            @Model.FirstDoseTime
        </dd>
        <dt class="col-sm-2">
            Frequency
        </dt>
        <dd class="col-sm-10">
            @Model.Frequency
        </dd>
        @if (Model.MedicationImage != null)
        {
            <dt class="col-sm-2">
                Medication Image
            </dt>
            <dd class="col-sm-10">
                <img src="~/img/@ViewBag.imageSrc" alt="@Model.MedicationName" width="300" style="object-fit:contain;" />
            </dd>
        }
        <dt class="col-sm-2">
            Identifier shape for this med<br />
        </dt>
        <dd download class="col-sm-10">
            <img src="@ShapeSrc" width="100" height="100" alt="QR code" /><br />
        </dd>
        <dt class="col-sm-2">
            QRCode<br />
        </dt>
        <dd download class="col-sm-10">
            <img id="QRIMG" src="https://api.qrserver.com/v1/create-qr-code/?data=@Model.Id" width="100" height="100" alt="QR code" /><br />
        </dd>
    </dl>
    <div>
        <button onclick="PrintAssets(); return false;" id="printImage">Print Shape and QR Code</button>
    </div>

    @*<button onclick="PrintImage('imgs/480x480.jpg');" id="printImage">Print this Image</button>*@
</div>
<div>
    @Html.ActionLink("Edit", "MedicationEdit", new { Id = Model.Id }) |
    @Html.ActionLink("Delete", "MedicationDelete", new { Id = Model.Id }) |
    @Html.ActionLink("Back to list", "MedicationList")
</div>
