@model HomeViewModel
@{
    ViewData["Title"] = "MedOnTime Home";
}

<!--TODO: Make a table with Patient Info displaying -->

<div id="homeFlexCol">
    @if (Model.UserObj == null)
    {
        <section class="homeContent">
            <img class="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
            <div class="homeButtons">
                <a class="homeRoute" asp-controller="Caretaker" asp-action="Register">Register</a>
                <a class="homeRoute" asp-controller="Caretaker" asp-action="Login">Login</a>
            </div>
        </section>
    }
    else
    {
        <section class="homeContent">
            <!--To have patient data shown-->
            <img class="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
            <h4>Logged in as @Model.UserObj.Email</h4>
        </section>
        <section id="medication-panel">
            @if (Model.Patients.Count() != 0)
            {
                <h4>Your patients</h4>
                <ul id="patient-select-list">
                    @foreach (var patient in Model.Patients)
                    {
                        <li>
                            <form method="get" asp-action="PatientDetails" asp-controller="Patient">
                                <input type="hidden" value="@patient.Id" name="Id" />
                                <input type="submit" value="@patient.FirstName, @patient.LastName" />
                            </form>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h4>You don't have any patients yet.</h4>
            }
            @Html.ActionLink("Add Patient", "AddPatient", "Patient", new { caretakerID = Model.UserObj.CaretakerID, caretakerObjID = Model.UserObj.Id })
        </section>
    }
    @*<a asp-controller="Home" asp-action="LogTest">LogTest</a>*@
</div>

<script>
    function setCaretakerIDCookie(cvalue) {
        document.cookie = "Caretaker=" + cvalue + ";"
    }

    @if (Model.UserObj != null)
    {
        <text>setCaretakerIDCookie("@Model.UserObj.Id")</text>
    }
    else
    {
        <text>setCaretakerIDCookie("")</text>
    }

    window.history.replaceState("", "", '/home');
</script>